@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #3CA6A6;
    color: #012E40;
}
header{
    text-align: center;
    background-color: #F2E3D5;
    padding: 5px;
    margin: 5vh;
    border-radius: 10px;
}
main{
    background-color: #F2E3D5;
    padding: 20px;
    margin: 5vh;
    border-radius: 10px;
}
a{
    color: #024959;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}