@charset "UTF-8";

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, rgb(1, 32, 5), rgb(155, 201, 151));
    color: black;
}
h1{
    text-align: center;
}
main{
    background-color: white;
    padding: 10px;
    margin: 5vh;
    border-radius: 10px;
}
div{
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(112, 112, 112);
}
del{
    color: lightgreen;
    background-color: lightgreen;
}